{% extends 'base.html' %}
{% load filters %}
{% block pre-script %}
    <style>
        .profile-head {
            transform: translateY(5rem)
        }

        .cover {
            background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
            background-size: cover;
            background-repeat: no-repeat
        }

        .image-container {
            position: relative;
            display: inline-block;

        }

        .centered-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: white;
            transform: translate(-50%, -50%);
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 17px;
            text-align: center;
        }

        .image-background {
            filter: brightness(75%);
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            <img
                                    src="https://api.dicebear.com/7.x/open-peeps/svg?seed={{ user_profile.username }} {{ user_profile.first_name }} {{ user_profile.last_name }}"
                                    alt="..." width="130"
                                    class="rounded mb-2 img-thumbnail">
                        </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0 pb-4">{{ user_profile.first_name }} {{ user_profile.last_name }}</h4>
                        </div>
                    </div>
                </div>
                <div
                        class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            {% if not is_own_profile %}
                                {% if not already_following %}
                                    <a href="{% url 'follow_reader' user_username=user_profile.username %}">
                                        <button
                                                class="align-bottom btn btn-outline-dark btn-sm btn-block">Seguir
                                        </button>
                                    </a>
                                {% else %}
                                    <button href="#" class="align-bottom btn btn-outline-dark btn-sm btn-block" disabled>
                                        Siguiendo
                                    </button>
                                {% endif %}
                            {% endif %}
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ user_profile.followers_count|format_counter }}</h5><small
                                class="text-muted">Seguidores</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ user_profile.following_users_count|format_counter }}</h5><small
                                class="text-muted">Seguidos
                        </li>
                    </ul>
                </div>

                <div class="py-4 px-4">
                    {% if is_own_profile %}
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="/collections"><button class="btn btn-outline-dark btn-block">Ir a mis colecciones</button></a>
                        </div>
                    {% else %}
                        {% if collections %}
                            <div
                                    class="d-flex align-items-center justify-content-between mb-3">
                                <h5 class="mb-0">Colecciones</h5>
                            </div>
                            <div class="row">
                                {% for collection in collections %}
                                    <a href="/collections/{{ collection.id }}">
                                        <div class="col-lg-6 mb-2 pr-lg-1">
                                            <div class="image-container">
                                                <img
                                                        src="https://api.dicebear.com/7.x/shapes/svg?seed={{ collection.name }}"
                                                        class="img-fluid rounded shadow-sm image-background">
                                                <div class="centered-text">
                                                    {{ collection.name }}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="d-flex align-items-center justify-content-center">
                                <p class="mb-0 me-auto ms-auto">{{ user_profile.first_name }} {{ user_profile.last_name }} no tiene colecciones.</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post-script %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
        document.title = "{{ user_profile.first_name }} {{ user_profile.last_name }}";
    </script>
{% endblock %}