{% extends 'base.html' %}
{% load filters %}
{% block page %}
    usuarios
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 card-margin">
                <div class="card search-form">
                    <div class="card-body p-0">
                        <form id="search-form">
                            <div class="row">
                                <div class="col-12 mt-5 mb-5 ps-5 pe-5">
                                    <form class="row no-gutters" method="GET">
                                        <div class="input-group">
                                            <input type="text" placeholder="Busca un usuario" class="form-control"
                                                   id="search"
                                                   name="q">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-base">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-search">
                                                        <circle cx="11" cy="11" r="8"></circle>
                                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="font-weight-bold me-5 ms-5">Resultados</h2>
    <p class="font-italic text-muted me-4 ms-5">Resultados de búsqueda ({{ users.count }})</p>

    <div class="row pe-5 ps-e me-4 ms-4 mb-4 mt-1">
        {% for user in users %}
            <a href="/social/profile/{{ user.username }}" class="col-lg-3 col-md-6 mb-4 mb-lg-0 link-dark text-decoration-none border m-5">
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0"><img
                            src="https://api.dicebear.com/7.x/open-peeps/svg?seed={{ user.username }} {{ user.first_name }} {{ user.last_name }}"
                            alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">{{ user.first_name }}  {{ user.last_name }}</h5>
                            <p class="small text-muted">@{{ user.username }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
{% block post-script %}
    <script>
        {% if users %}
            document.title = "Resultados de búsqueda: {{ q }}";
        {% else %}
            document.title = "Usuarios";
        {% endif %}
    </script>
{% endblock %}