    <style>
        /* Estilo para el contenedor principal */
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        /* Estilo para el contenedor de información del libro */
        .book-info-container {
            width: 80%;
            max-width: 400px;
            text-align: center;
            padding: 20px;
            background-color: #f8f9fa;
            border: 1px solid #ccc;
        }

        /* Estilo para la imagen del libro */
        .book-image {
            width: 100%;
            max-height: 200px;
            object-fit: cover;
            margin-bottom: 10px;
        }
        .button-container {
            display: flex;
            justify-content: center;
        }

           /* Estilo para los campos de entrada en el contenedor superior */
        .input-field {
            width: 100%;
            margin-bottom: 10px;
            padding: 5px;
        }
        .download-button {
            padding: 5px 10px; /* Reduzco el padding para hacerlo más pequeño */
            font-size: 14px; /* Reduzco el tamaño de fuente */
            cursor: pointer;
            flex: 0.01;
            margin-top: 5px; /* Agrego margen superior para moverlo hacia arriba */
            border-radius: 10px; /* Agrego bordes redondeados */
            margin-bottom: 10px;
            margin: 0 auto;
    }


    </style>

{% extends 'base.html' %}
{% block content %}

<div class="container">
    <!-- Contenedor de información del libro -->
    <div class="book-info-container">
        <!-- Imagen del libro -->
        <img class="book-image img-fluid" src="/img/library.jpg" alt="Imagen del libro" id="bookImage">

        <!-- Campos de información del libro -->
        <h1 id="bookTitle">Título del Libro: {{ document.title }}</h1>
        <h1 id="author">Autor: {{ document.author.name }}</h1>
        <p><strong>Materia/Temática: {{ document.category.capitalize }}</strong> <span id="bookSubject"></span></p>
        <p><strong>Tipo:</strong> {{ document.type.capitalize }} <span id="bookType"></span></p>
        <p><strong>Calificación:</strong> <span id="bookScore">{{ document.score }}</span>/5</p>

        <!-- Campo de calificación por número de estrellas (Libro/Artículo) -->
        <label for="calificacion"><strong>Calificación del libro/artículo:</strong></label>
        <select class="input-field form-control" name="calificacion" onclick="setScore(this.value)">
            <option value="5" onclick="setScore(5)">5 estrellas</option>
            <option value="4" onclick="setScore(4)">4 estrellas</option>
            <option value="3" onclick="setScore(3)">3 estrellas</option>
            <option value="2" onclick="setScore(2)">2 estrellas</option>
            <option value="1" onclick="setScore(1)">1 estrella</option>
        </select>

        <button onclick="window.open('{{ document.url }}', '_blank');" class="download-button">Descargar documento</button>
    </div>
</div>

<!-- Script para cargar la información del libro seleccionado desde el almacenamiento local -->
<script>
    // Obtiene la información del libro seleccionado desde el almacenamiento local
    const selectedFileData = localStorage.getItem('selectedFile');
    if (selectedFileData) {
        const selectedFile = JSON.parse(selectedFileData);
        {#document.getElementById('bookImage').src = selectedFile.image_url; // Reemplaza con la URL de la imagen del libro#}
        {#document.getElementById('bookTitle').textContent = `Título del Libro: ${selectedFile.title}`;#}
        {#document.getElementById('bookSubject').textContent = `Materia/Temática: ${selectedFile.subject}`;#}
        {#document.getElementById('bookType').textContent = `Tipo: ${selectedFile.type}`;#}
    }

    function setScore(score) {
        console.log("Canon")
        const http = new XMLHttpRequest();
        http.open("GET", `/articles/score/{{ document.uid }}/${score}`);
        http.onload = (e) => {
            if(http.status === 403) document.location.href = "/accounts/login/?next=/articles/document/{{ document.uid }}/"
            else document.getElementById("bookScore").innerHTML = http.responseText;
        }
        http.send();
    }
</script>

{% endblock %}
