<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

<div class="container align-items-center d-flex justify-content-center">

    <div class="w-75 box shadow-sm rounded bg-white mb-3">
        <div class="box-title border-bottom p-3">
            <h6 class="fw-bold m-0">Feed</h6>
        </div>

        <div class="box-body p-0">


            <div class=" p-3 d-flex align-items-center border-bottom osahan-post-header">

                <div class="col-2 dropdown-list-image mr-3 d-flex align-items-center  justify-content-center">
                    <img class="rounded-circle w-50" src="https://picsum.photos/id/1025/400/400" alt=""/>

                </div>

                <div class="col-9 font-weight-bold mr-3">
                    <div class="text-truncate fw-bold">Nombre de usuario o coleccion</div>
                    <div class="small"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nihil
                        voluptatem maiores, ipsam repudiandae quod excepturi quia laudantium aut itaque amet cumque sed.
                        Porro, quia repellat molestiae labore cum eum.
                    </div>
                </div>

                <span class="col-1 ml-auto mb-auto">
                        <div class="text-right text-muted pt-1">3d</div>
                    </span>
            </div>

            <div class=" p-3 d-flex align-items-center border-bottom osahan-post-header">

                <div class="col-2 dropdown-list-image mr-3 d-flex align-items-center  justify-content-center">
                    <img class="rounded-circle w-50" src="https://picsum.photos/id/237/400/400" alt=""/>

                </div>

                <div class="col-9 font-weight-bold mr-3">
                    <div class="text-truncate fw-bold">Nombre de usuario o coleccion</div>
                    <div class="small"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nihil
                        voluptatem maiores, ipsam repudiandae quod excepturi quia laudantium aut itaque amet cumque sed.
                        Porro, quia repellat molestiae labore cum eum.
                    </div>
                </div>

                <span class="col-1 ml-auto mb-auto">
                        <div class="text-right text-muted pt-1">3d</div>
                    </span>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</html>