{% extends 'base.html' %}
{% block pre-script %}
    <style>
    .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .img-container {
            width: 220px;
            height: 180px;
            display: flex;
            justify-content: center;
            overflow: hidden;
        }
        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .spacer {
            height: 100px !important;
        }


    </style>
{% endblock %}

{% block breadcrum %}
    <div class="py-2 px-5 bg-white d-flex">
        <nav aria-label="breadcrumb" class="">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/collections">Colecciones</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ collection.name }}</li>
          </ol>
        </nav>
    </div>
{% endblock %}

{% block content %}

<div class="container rounded">

    <div class="row">
        <!-- Columna de la portada de la colección (izquierda) -->
        <div class="col-md-4 my-4">
            <img src="https://i.pinimg.com/564x/a6/46/b2/a646b21d519edd807e7817e14c28af07.jpg" alt="Portada de la colección" class="img-fluid">
            <div class="d-flex flex-column gap-2 align-items-center">
                <h1 class="my-2 pt-4 fs-2 text fw-bold text-center">{{ collection.name }}</h1>
                <span class="badge bg-info mx-4 fs-5" >{{ collection.calc_score }}<i class="fa-solid fa-star px-1"></i></span>
                <p class="py-2">{{ collection.description }}</p>
            </div>

        </div>

        <!-- Columna de información de la colección y tarjetas de libros (derecha) -->
        <div class="col-md-8 ">
            <!-- Tarjetas de libros -->
            <h1 class="my-3 ">Documentos de la colección:</h1>
            <div class="grid gap-3 my-4 ">
                {% for book in collection.books.all %}
                    <div class="d-flex card flex-column align-items-center rounded-5 rounded-top-5 border border-1 border-secondary-subtle pb-4 p-0 rounded shadow">
                        <div class="img-container  h-50 w-100 rounded-2 mb-3 bg-secondary">
                            <img src="/static/img/library.jpg" alt="">
                        </div>
                        <div class="d-flex gap-1 my-1">
                            <span class="badge bg-info mx-2"><i class="fa-solid fa-star px-1"></i>{{ book.score }}</span>
                            <span class="badge bg-secondary">{{ book.category }}</span>
                        </div>
                        <h3 class="text-center my-1 fs-4">{{ book.title }}</h3>
                        <a href="/articles/document/{{ book.uid }}">
                            <button class="btn btn-primary text-white my-2">
                                Ver libro
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </button>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block page %}colecciones{% endblock %}