<!--#show collections block-->
{% extends 'base.html' %}

{% block pre-script %}
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .img-container {
            width: 220px;
            height: 180px;
            display: flex;
            justify-content: center;
            overflow: hidden;
        }
        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }

    </style>
{% endblock %}

{% block page %}colecciones{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="pt-4  fs-1 text fw-bold">Mis colecciones</h1>
        <a href="/collections/create">
            <button class="btn btn-primary">
                Crear colección
            </button>
        </a>

    <form action="" class="mb-3 pt-4">
            <div class="row  justify-content-center align-items-end">
                <div class="col-8 w-25 ">
                    <label>Búsqueda</label>
                    <div class="input-group ">
                        <input type="text" name="search" class="form-control " placeholder="Buscar">
                        <button class="btn btn-primary">
                            Buscar
                        </button>
                    </div>

                </div>
                <div class="col-2">
                    <label>Tipo de búsqueda</label>
                    <select name="tipo" class="form-select">
                        <option value="name">Nombre</option>
                        <option value="category">Categoría</option>
                    </select>
                </div>
                <div class="col-2 d-flex gap-3">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="privacy" value="all" checked>
                      <label class="form-check-label" for="flexCheckDefault">
                        Todo
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="privacy" value="private">
                      <label class="form-check-label" for="flexCheckDefault">
                        Privadas
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="privacy" value="public">
                      <label class="form-check-label" for="flexCheckDefault">
                        Públicas
                      </label>
                    </div>

                </div>
            </div>
        </form>

        

    {% if collections|length <= 0 %}
        {% if search %}
            <p class="text-secondary" style="font-size: 22px">Resultados para '{{ search }}'</p>
        {% else %}
            <p class="text-secondary" style="font-size: 22px">Aún no tienes colecciones</p>
        {% endif %}

    {% elif search%}
        <p class="text-secondary" style="font-size: 22px">Resultados para '{{ search }}'</p>
    {% endif %}
    
    <div class="grid gap-3 pt-4">
        {% for collection in collections %}
            <div class="d-flex card flex-column align-items-center rounded-5 rounded-top-5 border border-1 border-secondary-subtle  p-0 rounded shadow">
                <div class="img-container h-50 w-100 rounded-2 mb-3 bg-secondary">
                    <img src="/static/img/library.jpg" alt="">
                </div>
                <span class="float-start badge rounded-pill  py-1 px-2 bg-info m-1">
                    {{ collection.calc_score }}
                    <i class="fa-solid fa-star"></i>
                </span>
                <h2 class="text-center">{{ collection.name }} </h2>
                <a href="/collections/{{ collection.id }}">
                    <button class="btn btn-primary mx-2 pt-2 rounded-2 mt-2 text-white rounded-pill">
                        Ver colección
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </button>
                </a>
            </div>
        {% endfor %}
    </div>
    <h1 class="pt-4  fs-1 text fw-bold">Otras colecciones</h1>
    <div class="grid gap-3 pt-4">
        {% for collection in external_collections %}
            <div class="d-flex card flex-column align-items-center rounded-5 rounded-top-5 border border-1 border-secondary-subtle  p-0 rounded shadow">
                <div class="img-container h-50 w-100 rounded-2 mb-3 bg-secondary">
                    <img src="/static/img/library.jpg" alt="">
                </div>
                <p>{{ collection.user.username }}</p>
                <span class="float-start badge rounded-pill  py-1 px-2 bg-info m-1">
                    {{ collection.calc_score }}
                    <i class="fa-solid fa-star"></i>
                </span>
                <h2 class="text-center">{{ collection.name }} </h2>
                <a href="/collections/{{ collection.id }}">
                    <button class="btn btn-primary mx-2 pt-2 rounded-2 mt-2 text-white rounded-pill">
                        Ver colección
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </button>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


