{% extends 'base.html' %}
{% block page %}coleciones{% endblock %}
{% block pre-script %}
    <style>
    .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .img-container {
            width: 220px;
            height: 180px;
            display: flex;
            justify-content: center;
            overflow: hidden;
        }
        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="my-2">{{ collection.name }} <span class="badge bg-secondary">{{ collection.calc_score }}</span></h1>
        <p>{{ collection.description }}</p>
        <h2>Documentos de la colección</h2>
        <div class="grid gap-3">
            {% for book in collection.books.all %}

                <div class="d-flex flex-column align-items-center rounded-5 border border-1 border-secondary-subtle p-3 rounded">
                    <div class="img-container rounded-2 mb-3 bg-secondary">
                        <img src="/static/img/library.jpg" alt="">
                    </div>
                    <div class="d-flex gap-1">
                        <span class="badge bg-secondary">{{ book.score }}</span>
                        <span class="badge bg-secondary">{{ book.category }}</span>
                    </div>

                    <h3 class="text-center">{{ book.title }}</h3>
                    <a href="#">
                        <button class="btn btn-primary text-white">
                            Ver libro
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}