{% extends 'base.html' %}
{% block pre-script %}
    <style>
        .cover-image {
            width: 100px !important;
            height: 150px !important;
            object-fit: contain;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        }
    </style>
{% endblock %}
{% block content %}
   <div class="d-flex p-3 justify-content-center">
       <form action="/collections/create/"
       {% if books|length > 0 %}method="post"{% endif %}
       >
        {% if books|length <= 0 %}
            <input type="hidden" name="first" value="on">
        {% endif %}
       {% if books|length > 0 %}
            <div class="d-flex flex-column gap-3">
            <div class="d-flex flex-column">
                <label>Nombre de la colección</label>
                <input type="text" name="name" class="form-control" placeholder="Mi colección" required>
            </div>
           <div class="d-flex flex-column">
                <label>Descripción</label>
               <textarea name="desc" class="form-control" placeholder="De qué se trata la colección"></textarea>
            </div>
           <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="public" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Es pública
                  </label>
            </div>
            </div>
       {% endif %}
       {% csrf_token %}
       {% if books|length <= 0 %}
           <label >Selecciona la categoría de la colección</label>
            <div class="input-group mt-3">
               <select name="category" class="form-select" >
                   {% for category_ in categories %}
                       <option>{{ category_ }}</option>
                   {% endfor %}
               </select>
            {% if books|length <= 0 %}
                <button class="btn btn-primary" type="submit">Buscar</button>
            {% endif %}
           </div>
       {% else %}
           <input type="text" readonly name="category" value="{{ category }}" class="form-control">
       {% endif %}


           <div class="d-flex flex-wrap mt-4 gap-3">
               {% for book in books %}
                   <div class="d-flex flex-column align-items-center" >
                       <img src="" alt="coverImage" data-path="{{ book.url }}" class="cover-image border border-secondary-subtle" />
                        <div class="form-check">
                            <label class="form-check-label">{{ book.title }}</label>
                            <input type="checkbox" name="selected_books" value="{{ book.uid }}" class="form-check-input">
                        </div>
                   </div>
                {% endfor %}
           </div>
            {% if books|length > 0 %}
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-primary" type="submit">Crear coleccion</button>
                </div>
            {% endif %}
       </form>
   </div>
{% endblock %}
{% block post-script %}
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.10.111/build/pdf.min.js"></script>
    <script src="/static/js/images.js"></script>
{% endblock %}