{% extends 'base.html' %}
{% block content %}
   <div class="d-flex p-3">
    <form method="post" action="/collections/create/" class="gap-3 d-flex flex-column">
        {% csrf_token %}
        <h1>Crear una colección</h1>
        <div class="">
            <label for="a" class="">Nombre de la colección</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="">
            <label for="a" class="">Descripción</label>
            <textarea  name="description" class="form-control"></textarea>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="is_public">
          <label class="form-check-label" for="flexCheckDefault">
            Es público
          </label>
        </div>

        <div class="">
            <label for="a" class="">Categoría</label>
            <select name="category" id="" class="form-select">
                <option value="">Math</option>
            </select>
        </div>
        {% if doc %}
            <input type="hidden" value="{{ doc.uid }}" name="doc_id">
            <p>
                Documento inicial: {{ doc.title }}
            </p>
            <button type="submit" class="btn btn-primary">Crear colección</button>
        {% else %}
            <div>No puedes crear una colección sin un libro</div>
        {% endif %}
    </form>
   </div>
{% endblock %}