{% extends 'base.html' %}
{% block pre-script %}
    <style>
        .cover-image {
            width: 100px !important;
            height: 150px !important;
            object-fit: contain;
        }
    </style>
{% endblock %}
{% block content %}
   <div class="d-flex p-3 justify-content-center">
    <form method="post" action="/collections/create/" class="gap-3 d-flex flex-column">
        {% csrf_token %}
        <h1>Crear una colección</h1>
        <div class="">
            <label for="a" class="">Nombre de la colección</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="">
            <label for="a" class="">Descripción</label>
            <textarea  name="description" class="form-control"></textarea>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="is_public">
          <label class="form-check-label" for="flexCheckDefault">
            Es público
          </label>
        </div>

        <div class="">
            <label for="a" class="">Categoría</label>
            <select name="category" class="form-select">
                <option>{{ doc.category }}</option>
            </select>
        </div>
        {% if doc %}
            <p>La colección inicia con</p>
            <input type="hidden" value="{{ doc.uid }}" name="doc_id">
            <div class="d-flex flex-column align-items-center">
                <p>{{ doc.title }}</p>
                <img src="" alt="coverImage" data-path="{{ doc.url }}" class="cover-image bg-secondary rounded border border-secondary" />
            </div>
            <button type="submit" class="btn btn-primary">Crear colección</button>
        {% else %}
            <div>No puedes crear una colección sin un libro</div>
        {% endif %}
    </form>
   </div>
{% endblock %}
{% block post-script %}
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.10.111/build/pdf.min.js"></script>
    <script src="/static/js/images.js"></script>
{% endblock %}