
{% extends 'base.html' %}

{% block pre-script %}
    <script src="https://kit.fontawesome.com/77c9f8f14c.js" crossorigin="anonymous"></script>
    <title>{{ document.title }}</title>
{% endblock %}

{% block content %}
	 <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ document.title }}</h1>
                <div>
                    <img src="" alt="Portada del libro {{ document.title }}" id="coverImage" data-path="{{ document.path }}" />
                </div>
            </div>
            <div class="col">
                <h2>Descripcion</h2>
                <p>Autor: {{ document.author.name }}</p>
                <p>Categoria: {{ document.category }}</p>
                <div class="text-center">
                    <a role="button" href="/annotations/book/{{ document.uid }}" class="btn btn-primary">Ver documento</a>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Notas</h2>
            <div class="col">
                {% block general_notes %}{% endblock %}
            </div>
            <div class="col">
                <label for="general_annotation" class="form-label">Nueva nota general</label>
                    <form method="post" id="general_note_form">
                            {% csrf_token %}
                            <textarea class="form-control" name="general_annotation" id="general_annotation" required rows="3" placeholder="Escribe aquí tu nota"></textarea>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end py-2">
                                <button class="btn btn-dark text-light fw-bold py-0" type="submit">Guardar</button>
                            </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}
   

{% block post-script %}

    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.10.111/build/pdf.min.js"></script>

   <script>
        const coverImage = document.getElementById('coverImage');
        const pdfPath = coverImage.getAttribute('data-path');

        const canvas = document.createElement('canvas');
        const context = canvas.getContext('2d');

        // Cargar el PDF y renderizar la primera página en el canvas
        pdfjsLib.getDocument(pdfPath).promise
        .then(pdfDoc => pdfDoc.getPage(1))
        .then(page => {
            const viewport = page.getViewport({ scale: 1.0 }); // Ajusta la escala según sea necesario
            canvas.width = viewport.width;
            canvas.height = viewport.height;
            const renderContext = {
                canvasContext: context,
                viewport: viewport,
            };
            return page.render(renderContext).promise;
        })
        .then(() => {
            // Convertir el canvas en una imagen base64
            const imageDataURL = canvas.toDataURL('image/png');

            // Establecer la imagen base64 como fuente de la imagen en tu HTML
            coverImage.src = imageDataURL;
        })
        .catch(error => {
            console.error('Error al cargar y renderizar el PDF:', error);
        });
    </script>
{% endblock %}

